{% if title %}
<label for="{{ canvas_id }}" >{{ title }}</label>
{% endif %}
{{ attach_library('dkan_chart/web_component.dkan_chart') }}
<canvas id={{ canvas_id }}></canvas>
<dkan-chart data-chart-definition="{{ chart_definition }}" data-chart-field-options="{{ chart_field_options }}" data-chart-dataset="{{ chart_dataset }}" data-canvas-id="{{ canvas_id }}">
</dkan-chart>

