{% set styling = 'dkan_tables/dkan_tablevisualization_datatables.default' %}
{% set table_classes = 'display' %}
{% if style %}
    {% set styling = ['dkan_tables/dkan_tablevisualization_datatables.', style]|join %}
    {% if style == 'bs5' %}
        {% set table_classes = 'table table-striped' %}
    {% endif %}
{% endif %}
{{ attach_library(styling) }}
{% if embed == false and style == 'bs5' %}
    <div class="card p-3 my-3">
{% endif %}
<table id="datatable" class="{{ table_classes }}" style="width:100%"></table>
{% if embed == false and style == 'bs5' %}
    </div>
{% endif %}
