{% if title %}
    <label for="{{ table_id }}" >{{ title }}</label>
{% endif %}
{% set styling = 'dkan_tables/web_component.dkan_tables_datatables.default' %}
{% set table_classes = 'display' %}
{% if style %}
    {% set styling = ['dkan_tables/web_component.dkan_tables_datatables.', style]|join %}
    {% if style == 'bs5' %}
        {% set table_classes = 'table table-striped' %}
    {% endif %}
{% endif %}
{{ attach_library(styling) }}
<table id="{{ table_id }}" class="{{ table_classes }}" style="width:100%"></table>
<dkan-data-tables data-columns="{{ columns }}" data-source="{{ source }}" data-table-id="{{ table_id }}" data-columns-visible="{{ columns_visible }}" data-filter-visible="{{ filter_visible }}" data-any-string="{{ any_string }}">
</dkan-data-tables>
